name: A workflow for my Junit Test App
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 25
        uses: actions/setup-java@v2
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Unit Tests
        run: mvn -Dtest=com.testjunittest.MainTest test
      - name: List generated files
        run: |
          echo "Checking JaCoCo report files..."
          find target -name "*.xml" | grep jacoco || echo "No JaCoCo XML found!"
      - name: CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          #directory: ./target/site/jacoco
          files: build/reports/jacoco/test/jacocoTestReport.xml
          flags: Unit Tests # optional
          verbose: true # optional (default = false)
