name: A workflow for my Junit Test App
on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-25.10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 25
        uses: actions/setup-java@v2
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Unit Tests
        run: mvn -Dtest=com.testjunittest.MainTest test
      - name: CodeCov
        uses: codecov/codecov-action@v5
        with:
          #token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          directory: ./target/site/jacoco
          flags: Unit Tests # optional
          verbose: true # optional (default = false)
